body{
    background-color: rgb(108, 166, 241);
    font-family:Georgia, 'Times New Roman', Times, serif ;
   }
   
   .signup{ 
    
       width: 360px;
       height: 620px;
      margin: auto;
      background-color: white;
      border-radius: 3PX;
   }
   .login{
       width: 360px;
       height: 280px;
       margin: auto;
       border-radius: 3px;
       background-color: white;
   }
   
   h1{
       text-align: center;
       padding-top: 15px;
   }
   h4{
       text-align: center;
   }
   
   form{
     width: 300px;
      margin: 20px
   }
   
   form label{
       display: flex;
       margin-top: 20px;
       font-size: 18px;
   }
   
   form input{
   
       width: 100%;
       padding: 7px;
       border: none;
       border: 1px solid gray;
        border-radius: 6px;
        outline: none;
   }
   
   #button{
       width: 320px;
      height: 35px;
      margin-top: 20px;
      border: none;
      background-color: blue;
      color: white;
      font-size: 18px;
   }
   
   
   p{
       text-align: center;
       padding-top: 20px;
      font-size: 15px;
   }
   
    .p1{
      text-align: center;
      color: white;
      font-size: 15px;
      margin-top: -10px;
    }
   
    .p1 a{
       color: blue;
       
    }